<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

  <dir class="content">
  <h2 id="textcinema">Cinema</br>Ironghack</h2>

  <img src="/images/cinema.jpg" alt="cinema" id="imgcinema">

  <a id="btn" href="/movies">Check The Movie!</a>

  </dir>